.chatbot-container {
    width: 100%;
    height: 100vh;
}

.chatbot-content {
    width: 80%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
}

.chatbot-chat {
    width: 100%;
    height: 500px;
    display: flex;
    background-color: white;
    box-shadow: 2px 2px 15px 0 rgba( 0, 0, 0, 0.16);
    border-radius: 20px;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.chatItems {
    overflow: auto;
    height: 90%;
}

.chatInput{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }